@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    
    font-family: 'Anton', sans-serif;

background-image: url(./img/bairro-botafogo-dois.jpg);
background-repeat: no-repeat;
background-size: cover;

}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 75px 230px;
}

.container2 {
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: center; 
}

.link-index {
    text-decoration: none;
}

.link-index:hover{
    cursor: pointer;
}

.link-index:visited {
    color: red;
}

.jogue-novamente {
    margin-top: 50px;
    font-size: 70px;
    border: 10px solid black;
    background-color: black;
    border-radius: 5px;
}

.jogue-novamente:hover {
    font-size: 60px;
    transition: 0.5s;
    color: red;
}